src/conf/xml-resources/web-service-references/MonopolyWebServiceService/wsdl/localhost_8080/monopolyapi/MonopolyWebServiceService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6-1b01  svn-revision#13094. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://monopoly.ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" targetNamespace="http://monopoly.ws/" name="MonopolyWebServiceService">
  <wsp:Policy wsu:Id="MonopolyWebServicePortBindingPolicy" />
  <types>
    <xsd:schema>
      <xsd:import namespace="http://monopoly.ws/" schemaLocation="http://localhost:8080/monopolyapi/MonopolyWebServiceService?xsd=1" />
    </xsd:schema>
  </types>
  <message name="getEvents">
    <part name="parameters" element="tns:getEvents" />
  </message>
  <message name="getEventsResponse">
    <part name="parameters" element="tns:getEventsResponse" />
  </message>
  <message name="InvalidParameters">
    <part name="fault" element="tns:InvalidParameters" />
  </message>
  <message name="getPlayersDetails">
    <part name="parameters" element="tns:getPlayersDetails" />
  </message>
  <message name="getPlayersDetailsResponse">
    <part name="parameters" element="tns:getPlayersDetailsResponse" />
  </message>
  <message name="GameDoesNotExists">
    <part name="fault" element="tns:GameDoesNotExists" />
  </message>
  <message name="getWaitingGames">
    <part name="parameters" element="tns:getWaitingGames" />
  </message>
  <message name="getWaitingGamesResponse">
    <part name="parameters" element="tns:getWaitingGamesResponse" />
  </message>
  <message name="createGame">
    <part name="parameters" element="tns:createGame" />
  </message>
  <message name="createGameResponse">
    <part name="parameters" element="tns:createGameResponse" />
  </message>
  <message name="DuplicateGameName">
    <part name="fault" element="tns:DuplicateGameName" />
  </message>
  <message name="resign">
    <part name="parameters" element="tns:resign" />
  </message>
  <message name="resignResponse">
    <part name="parameters" element="tns:resignResponse" />
  </message>
  <message name="joinGame">
    <part name="parameters" element="tns:joinGame" />
  </message>
  <message name="joinGameResponse">
    <part name="parameters" element="tns:joinGameResponse" />
  </message>
  <message name="getBoardXML">
    <part name="parameters" element="tns:getBoardXML" />
  </message>
  <message name="getBoardXMLResponse">
    <part name="parameters" element="tns:getBoardXMLResponse" />
  </message>
  <message name="getPlayerDetails">
    <part name="parameters" element="tns:getPlayerDetails" />
  </message>
  <message name="getPlayerDetailsResponse">
    <part name="parameters" element="tns:getPlayerDetailsResponse" />
  </message>
  <message name="getBoardSchema">
    <part name="parameters" element="tns:getBoardSchema" />
  </message>
  <message name="getBoardSchemaResponse">
    <part name="parameters" element="tns:getBoardSchemaResponse" />
  </message>
  <message name="getGameDetails">
    <part name="parameters" element="tns:getGameDetails" />
  </message>
  <message name="getGameDetailsResponse">
    <part name="parameters" element="tns:getGameDetailsResponse" />
  </message>
  <message name="buy">
    <part name="parameters" element="tns:buy" />
  </message>
  <message name="buyResponse">
    <part name="parameters" element="tns:buyResponse" />
  </message>
  <portType name="MonopolyWebService">
    <operation name="getEvents">
      <input wsam:Action="http://monopoly.ws/MonopolyWebService/getEventsRequest" message="tns:getEvents" />
      <output wsam:Action="http://monopoly.ws/MonopolyWebService/getEventsResponse" message="tns:getEventsResponse" />
      <fault message="tns:InvalidParameters" name="InvalidParameters" wsam:Action="http://monopoly.ws/MonopolyWebService/getEvents/Fault/InvalidParameters" />
    </operation>
    <operation name="getPlayersDetails">
      <input wsam:Action="http://monopoly.ws/MonopolyWebService/getPlayersDetailsRequest" message="tns:getPlayersDetails" />
      <output wsam:Action="http://monopoly.ws/MonopolyWebService/getPlayersDetailsResponse" message="tns:getPlayersDetailsResponse" />
      <fault message="tns:GameDoesNotExists" name="GameDoesNotExists" wsam:Action="http://monopoly.ws/MonopolyWebService/getPlayersDetails/Fault/GameDoesNotExists" />
    </operation>
    <operation name="getWaitingGames">
      <input wsam:Action="http://monopoly.ws/MonopolyWebService/getWaitingGamesRequest" message="tns:getWaitingGames" />
      <output wsam:Action="http://monopoly.ws/MonopolyWebService/getWaitingGamesResponse" message="tns:getWaitingGamesResponse" />
    </operation>
    <operation name="createGame">
      <input wsam:Action="http://monopoly.ws/MonopolyWebService/createGameRequest" message="tns:createGame" />
      <output wsam:Action="http://monopoly.ws/MonopolyWebService/createGameResponse" message="tns:createGameResponse" />
      <fault message="tns:DuplicateGameName" name="DuplicateGameName" wsam:Action="http://monopoly.ws/MonopolyWebService/createGame/Fault/DuplicateGameName" />
      <fault message="tns:InvalidParameters" name="InvalidParameters" wsam:Action="http://monopoly.ws/MonopolyWebService/createGame/Fault/InvalidParameters" />
    </operation>
    <operation name="resign">
      <input wsam:Action="http://monopoly.ws/MonopolyWebService/resignRequest" message="tns:resign" />
      <output wsam:Action="http://monopoly.ws/MonopolyWebService/resignResponse" message="tns:resignResponse" />
      <fault message="tns:InvalidParameters" name="InvalidParameters" wsam:Action="http://monopoly.ws/MonopolyWebService/resign/Fault/InvalidParameters" />
    </operation>
    <operation name="joinGame">
      <input wsam:Action="http://monopoly.ws/MonopolyWebService/joinGameRequest" message="tns:joinGame" />
      <output wsam:Action="http://monopoly.ws/MonopolyWebService/joinGameResponse" message="tns:joinGameResponse" />
      <fault message="tns:GameDoesNotExists" name="GameDoesNotExists" wsam:Action="http://monopoly.ws/MonopolyWebService/joinGame/Fault/GameDoesNotExists" />
      <fault message="tns:InvalidParameters" name="InvalidParameters" wsam:Action="http://monopoly.ws/MonopolyWebService/joinGame/Fault/InvalidParameters" />
    </operation>
    <operation name="getBoardXML">
      <input wsam:Action="http://monopoly.ws/MonopolyWebService/getBoardXMLRequest" message="tns:getBoardXML" />
      <output wsam:Action="http://monopoly.ws/MonopolyWebService/getBoardXMLResponse" message="tns:getBoardXMLResponse" />
    </operation>
    <operation name="getPlayerDetails">
      <input wsam:Action="http://monopoly.ws/MonopolyWebService/getPlayerDetailsRequest" message="tns:getPlayerDetails" />
      <output wsam:Action="http://monopoly.ws/MonopolyWebService/getPlayerDetailsResponse" message="tns:getPlayerDetailsResponse" />
      <fault message="tns:GameDoesNotExists" name="GameDoesNotExists" wsam:Action="http://monopoly.ws/MonopolyWebService/getPlayerDetails/Fault/GameDoesNotExists" />
      <fault message="tns:InvalidParameters" name="InvalidParameters" wsam:Action="http://monopoly.ws/MonopolyWebService/getPlayerDetails/Fault/InvalidParameters" />
    </operation>
    <operation name="getBoardSchema">
      <input wsam:Action="http://monopoly.ws/MonopolyWebService/getBoardSchemaRequest" message="tns:getBoardSchema" />
      <output wsam:Action="http://monopoly.ws/MonopolyWebService/getBoardSchemaResponse" message="tns:getBoardSchemaResponse" />
    </operation>
    <operation name="getGameDetails">
      <input wsam:Action="http://monopoly.ws/MonopolyWebService/getGameDetailsRequest" message="tns:getGameDetails" />
      <output wsam:Action="http://monopoly.ws/MonopolyWebService/getGameDetailsResponse" message="tns:getGameDetailsResponse" />
      <fault message="tns:GameDoesNotExists" name="GameDoesNotExists" wsam:Action="http://monopoly.ws/MonopolyWebService/getGameDetails/Fault/GameDoesNotExists" />
    </operation>
    <operation name="buy">
      <input wsam:Action="http://monopoly.ws/MonopolyWebService/buyRequest" message="tns:buy" />
      <output wsam:Action="http://monopoly.ws/MonopolyWebService/buyResponse" message="tns:buyResponse" />
      <fault message="tns:InvalidParameters" name="InvalidParameters" wsam:Action="http://monopoly.ws/MonopolyWebService/buy/Fault/InvalidParameters" />
    </operation>
  </portType>
  <binding name="MonopolyWebServicePortBinding" type="tns:MonopolyWebService">
    <wsp:PolicyReference URI="#MonopolyWebServicePortBindingPolicy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="getEvents">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="InvalidParameters">
        <soap:fault name="InvalidParameters" use="literal" />
      </fault>
    </operation>
    <operation name="getPlayersDetails">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="GameDoesNotExists">
        <soap:fault name="GameDoesNotExists" use="literal" />
      </fault>
    </operation>
    <operation name="getWaitingGames">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="createGame">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="DuplicateGameName">
        <soap:fault name="DuplicateGameName" use="literal" />
      </fault>
      <fault name="InvalidParameters">
        <soap:fault name="InvalidParameters" use="literal" />
      </fault>
    </operation>
    <operation name="resign">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="InvalidParameters">
        <soap:fault name="InvalidParameters" use="literal" />
      </fault>
    </operation>
    <operation name="joinGame">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="GameDoesNotExists">
        <soap:fault name="GameDoesNotExists" use="literal" />
      </fault>
      <fault name="InvalidParameters">
        <soap:fault name="InvalidParameters" use="literal" />
      </fault>
    </operation>
    <operation name="getBoardXML">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getPlayerDetails">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="GameDoesNotExists">
        <soap:fault name="GameDoesNotExists" use="literal" />
      </fault>
      <fault name="InvalidParameters">
        <soap:fault name="InvalidParameters" use="literal" />
      </fault>
    </operation>
    <operation name="getBoardSchema">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getGameDetails">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="GameDoesNotExists">
        <soap:fault name="GameDoesNotExists" use="literal" />
      </fault>
    </operation>
    <operation name="buy">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="InvalidParameters">
        <soap:fault name="InvalidParameters" use="literal" />
      </fault>
    </operation>
  </binding>
  <service name="MonopolyWebServiceService">
    <port name="MonopolyWebServicePort" binding="tns:MonopolyWebServicePortBinding">
      <soap:address location="http://localhost:8080/monopolyapi/MonopolyWebServiceService" />
    </port>
  </service>
</definitions>