src/conf/xml-resources/web-service-references/MonopolyWebServiceService/wsdl/localhost_8080/monopolyapi/MonopolyWebServiceService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://monopoly.ws/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://monopoly.ws/">

  <xs:element name="DuplicateGameName" type="tns:DuplicateGameName" />

  <xs:element name="GameDoesNotExists" type="tns:GameDoesNotExists" />

  <xs:element name="InvalidParameters" type="tns:InvalidParameters" />

  <xs:element name="buy" nillable="true" type="tns:buy" />

  <xs:element name="buyResponse" nillable="true" type="tns:buyResponse" />

  <xs:element name="createGame" nillable="true" type="tns:createGame" />

  <xs:element name="createGameResponse" nillable="true" type="tns:createGameResponse" />

  <xs:element name="getBoardSchema" nillable="true" type="tns:getBoardSchema" />

  <xs:element name="getBoardSchemaResponse" nillable="true" type="tns:getBoardSchemaResponse" />

  <xs:element name="getBoardXML" nillable="true" type="tns:getBoardXML" />

  <xs:element name="getBoardXMLResponse" nillable="true" type="tns:getBoardXMLResponse" />

  <xs:element name="getEvents" nillable="true" type="tns:getEvents" />

  <xs:element name="getEventsResponse" nillable="true" type="tns:getEventsResponse" />

  <xs:element name="getGameDetails" nillable="true" type="tns:getGameDetails" />

  <xs:element name="getGameDetailsResponse" nillable="true" type="tns:getGameDetailsResponse" />

  <xs:element name="getPlayerDetails" nillable="true" type="tns:getPlayerDetails" />

  <xs:element name="getPlayerDetailsResponse" nillable="true" type="tns:getPlayerDetailsResponse" />

  <xs:element name="getPlayersDetails" nillable="true" type="tns:getPlayersDetails" />

  <xs:element name="getPlayersDetailsResponse" nillable="true" type="tns:getPlayersDetailsResponse" />

  <xs:element name="getWaitingGames" nillable="true" type="tns:getWaitingGames" />

  <xs:element name="getWaitingGamesResponse" nillable="true" type="tns:getWaitingGamesResponse" />

  <xs:element name="joinGame" nillable="true" type="tns:joinGame" />

  <xs:element name="joinGameResponse" nillable="true" type="tns:joinGameResponse" />

  <xs:element name="resign" nillable="true" type="tns:resign" />

  <xs:element name="resignResponse" nillable="true" type="tns:resignResponse" />

  <xs:complexType name="getBoardXML">
    <xs:sequence />
  </xs:complexType>

  <xs:complexType name="getBoardXMLResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:string" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getWaitingGames">
    <xs:sequence />
  </xs:complexType>

  <xs:complexType name="getWaitingGamesResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="createGame">
    <xs:sequence>
      <xs:element name="computerizedPlayers" type="xs:int" />
      <xs:element name="humanPlayers" type="xs:int" />
      <xs:element name="name" type="xs:string" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="createGameResponse">
    <xs:sequence />
  </xs:complexType>

  <xs:complexType name="DuplicateGameName">
    <xs:sequence>
      <xs:element name="faultInfo" type="tns:monopolyFault" minOccurs="0" />
      <xs:element name="message" type="xs:string" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="monopolyFault">
    <xs:sequence>
      <xs:element name="faultCode" type="xs:string" minOccurs="0" />
      <xs:element name="faultString" type="xs:string" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="InvalidParameters">
    <xs:sequence>
      <xs:element name="faultInfo" type="tns:monopolyFault" minOccurs="0" />
      <xs:element name="message" type="xs:string" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="resign">
    <xs:sequence>
      <xs:element name="playerId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="resignResponse">
    <xs:sequence />
  </xs:complexType>

  <xs:complexType name="getPlayersDetails">
    <xs:sequence>
      <xs:element name="gameName" type="xs:string" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getPlayersDetailsResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:playerDetails" nillable="true" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="playerDetails">
    <xs:sequence>
      <xs:element name="money" type="xs:int" />
      <xs:element name="name" type="xs:string" minOccurs="0" />
      <xs:element name="status" type="tns:playerStatus" minOccurs="0" />
      <xs:element name="type" type="tns:playerType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="GameDoesNotExists">
    <xs:sequence>
      <xs:element name="faultInfo" type="tns:monopolyFault" minOccurs="0" />
      <xs:element name="message" type="xs:string" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getGameDetails">
    <xs:sequence>
      <xs:element name="gameName" type="xs:string" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getGameDetailsResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:gameDetails" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="gameDetails">
    <xs:sequence>
      <xs:element name="computerizedPlayers" type="xs:int" />
      <xs:element name="humanPlayers" type="xs:int" />
      <xs:element name="joinedHumanPlayers" type="xs:int" />
      <xs:element name="name" type="xs:string" minOccurs="0" />
      <xs:element name="status" type="tns:gameStatus" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getPlayerDetails">
    <xs:sequence>
      <xs:element name="playerId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getPlayerDetailsResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:playerDetails" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getEvents">
    <xs:sequence>
      <xs:element name="eventId" type="xs:int" />
      <xs:element name="playerId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getEventsResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:event" nillable="true" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="event">
    <xs:sequence>
      <xs:element name="boardSquareID" type="xs:int" />
      <xs:element name="eventMessage" type="xs:string" minOccurs="0" />
      <xs:element name="firstDiceResult" type="xs:int" />
      <xs:element name="id" type="xs:int" />
      <xs:element name="nextBoardSquareID" type="xs:int" />
      <xs:element name="paymemtFromUser" type="xs:boolean" />
      <xs:element name="paymentAmount" type="xs:int" />
      <xs:element name="paymentToPlayerName" type="xs:string" minOccurs="0" />
      <xs:element name="playerMove" type="xs:boolean" />
      <xs:element name="playerName" type="xs:string" minOccurs="0" />
      <xs:element name="secondDiceResult" type="xs:int" />
      <xs:element name="timeout" type="xs:int" />
      <xs:element name="type" type="tns:eventType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="joinGame">
    <xs:sequence>
      <xs:element name="gameName" type="xs:string" minOccurs="0" />
      <xs:element name="playerName" type="xs:string" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="joinGameResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="buy">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int" />
      <xs:element name="arg1" type="xs:int" />
      <xs:element name="arg2" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="buyResponse">
    <xs:sequence />
  </xs:complexType>

  <xs:complexType name="getBoardSchema">
    <xs:sequence />
  </xs:complexType>

  <xs:complexType name="getBoardSchemaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:string" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="playerStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="JOINED" />
      <xs:enumeration value="ACTIVE" />
      <xs:enumeration value="RETIRED" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="playerType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="HUMAN" />
      <xs:enumeration value="COMPUTER" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="gameStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="WAITING" />
      <xs:enumeration value="ACTIVE" />
      <xs:enumeration value="FINISHED" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="eventType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="GameStart" />
      <xs:enumeration value="GameOver" />
      <xs:enumeration value="GameWinner" />
      <xs:enumeration value="PlayerLost" />
      <xs:enumeration value="DiceRoll" />
      <xs:enumeration value="Move" />
      <xs:enumeration value="PassedStartSquare" />
      <xs:enumeration value="LandedOnStartSquare" />
      <xs:enumeration value="GoToJail" />
      <xs:enumeration value="PropmtPlayerToByAsset" />
      <xs:enumeration value="PropmptPlayerToByHouse" />
      <xs:enumeration value="AssetBought" />
      <xs:enumeration value="HouseBought" />
      <xs:enumeration value="SurpriseCard" />
      <xs:enumeration value="WarrantCard" />
      <xs:enumeration value="GetOutOfJailCard" />
      <xs:enumeration value="Payment" />
      <xs:enumeration value="PlayerUsedGetOutOfJailCard" />
      <xs:enumeration value="PlayerTurn" />
      <xs:enumeration value="PlayerResigned" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>